Container {
    layout: grid;
    grid-size: 2;
    grid-gutter: 1;
    align: center middle;
    height: 100%;
    width: 100%;
}

PresetButton {
    width: 100%;
    height: 5;
    margin: 1;
}

Input {
    column-span: 2;
    width: 80%;
    margin: 1;
}

#custom_url_button {
    column-span: 2;
    width: 80%;
}


#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 100%;
    width: 100%;
    content-align: center middle;
}
